.contenedor{
    margin: 20px auto;
    width: 1000px;
    height: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    width: 700px;
    height: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid #bdbdbd;
    /*bg*/
    /*posicionamiento elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.mid{
    width: 700px;
    height: 500px;
    border-left: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    overflow: auto;
}

.articulo{
    width: 100%;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #757575;
    border-bottom: 1px solid #bdbdbd;
}

.cantidad{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto{
  width: 40%;
  height: 100%;
}

.precio, .subtotal{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bot{
    /*tamanio*/
    width: 700px;
    height: 100px;
    /*bordes*/
    border-left: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    /*bg*/

    /*posicionamiento elementos*/
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;
}

.total{
    color: white;
    font-size: 50px;
}



/* material desing */
.group 			  { 
    position:relative; 
    margin-bottom:45px; 
    margin-top: 45px;
  }

input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #bdbdbd;
  }

input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  /* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-15px;
    font-size:14px;
    color:#bdbdbd;
  }

  /* BOTTOM BARS ================================= */
.bar{ 
    position:relative;
    display:block;
    width:315px;
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#bdbdbd; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}


/*scroll*/

.scroll4::-webkit-scrollbar {
    width: 10px;
  }
   
  .scroll4::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 20px;
  }
  
  .scroll4::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
  
